[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib/
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml
[submodule "external/luaaa"]
	path = external/luaaa
	url = https://github.com/gengyong/luaaa
[submodule "external/lua"]
	path = external/lua
	url = https://github.com/lua/lua
[submodule "external/eventpp"]
	path = external/eventpp
	url = https://github.com/wqking/eventpp
