[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib/
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml
[submodule "external/lua"]
	path = external/lua
	url = https://github.com/lua/lua
[submodule "external/eventpp"]
	path = external/eventpp
	url = https://github.com/wqking/eventpp
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy
[submodule "external/sol2"]
	path = external/sol2
	url = https://github.com/halx99/sol2
